<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
</head>
<body>
    <form action="/" method="post" enctype="multipart/form-data">
        <p><input type="file" accept="image/*" name="image"/></p>
        <p><input type="text" name="name" id=""></p>
        <textarea name="caption" placeholder="Caption goes here" re id="" cols="30" rows="10"> </textarea>
        <p><button type="submit">Submit</button></p>
    </form>
    <div class="container">
        <% images.forEach( (item) => { %>
            <img src="data:image/<%=item.image.contentType%>;base64
            <%=item.image.data.toString('base64')%>">
            <h5><%= item.name %></h5>
            <p><%= item.caption %></p>
        <% } ) %>
    </div>
</body>
</html>